
.header {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 20px;
  background-color: #f8f9fa;
  border-bottom: 2px solid #ddd;

  .logo {
    img {
      height: 40px; 
    }
  }

  .welcome-message {
    text-align: center;

    h1 {
      font-size: 1.2rem; 
      margin: 10px 0; 
      color: #333;
    }
  }

  .date-time {
    font-size: 0.9rem; 
    color: #555;

    p {
      margin: 0;
    }
  }
}


@media (min-width: 768px) {
  .header {
    flex-direction: row; 
    justify-content: space-between;

    .welcome-message {
      h1 {
        font-size: 1.5rem; 
      }
    }

    .logo img {
      height: 50px; 
    }

    .date-time {
      font-size: 1rem; 
    }
  }
}
